USE [master]
GO
/****** Object:  Database [UACHFINAL]    Script Date: 06/11/2023 06:48:25 p. m. ******/
CREATE DATABASE [UACHFINAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UACHFINAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UACHFINAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UACHFINAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UACHFINAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UACHFINAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[UACHFINAL] TO [DannyleZephyrus\danne]
GO
USE [UACHFINAL]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 06/11/2023 06:48:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdClientes] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[RFC] [varchar](100) NOT NULL,
	[Razon Social] [varchar](100) NOT NULL,
	[Calle] [varchar](200) NOT NULL,
	[NumExt] [int] NOT NULL,
	[NumInt] [int] NOT NULL,
	[Colonia] [varchar](200) NOT NULL,
	[Municipio] [varchar](200) NOT NULL,
	[Codigo Postal] [int] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Regimen Fiscal] [varchar](200) NOT NULL,
	[Uso de CFDI] [varchar](200) NOT NULL,
	[Telefono] [int] NULL,
	[Correo] [varchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdClientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Clientes] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ColoresCMYKW]    Script Date: 06/11/2023 06:48:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColoresCMYKW](
	[Idcolor] [int] IDENTITY(1,1) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Cantidad] [float] NOT NULL,
 CONSTRAINT [PK_ColoresCMYKW] PRIMARY KEY CLUSTERED 
(
	[Idcolor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ColoresCMYKW] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ColorMezclas]    Script Date: 06/11/2023 06:48:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorMezclas](
	[IdMezcla] [int] IDENTITY(1,1) NOT NULL,
	[IdProductos] [int] NOT NULL,
	[NombreColor] [varchar](50) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[IdcolorC] [int] NOT NULL,
	[CantidadColorC] [float] NOT NULL,
	[IdcolorM] [int] NOT NULL,
	[CantidadColorM] [float] NOT NULL,
	[IdcolorY] [int] NOT NULL,
	[CantidadColorY] [float] NOT NULL,
	[IdcolorK] [int] NOT NULL,
	[CantidadColorK] [float] NOT NULL,
	[IdcolorB] [int] NOT NULL,
	[CantidadColorB] [float] NOT NULL,
 CONSTRAINT [PK_ColorMezclas] PRIMARY KEY CLUSTERED 
(
	[IdMezcla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ColorMezclas] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 06/11/2023 06:48:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[IdCompras] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Total] [float] NOT NULL,
	[IdClientes] [int] NULL,
	[IdEmpleados] [int] NOT NULL,
	[IdMetodoPago] [int] NOT NULL,
	[IdDetalleCompras] [int] NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[IdCompras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Compras] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[DetalleCompras]    Script Date: 06/11/2023 06:48:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[IdDetalleCompras] [int] IDENTITY(1,1) NOT NULL,
	[IdCompras] [int] NOT NULL,
	[IdProductos] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Subtotal] [float] NOT NULL,
 CONSTRAINT [PK_DetalleCompra] PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[DetalleCompras] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[DetalleProveedores]    Script Date: 06/11/2023 06:48:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleProveedores](
	[IdDetalleProveedores] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdProveedores] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Costo] [float] NOT NULL,
 CONSTRAINT [PK_DetalleProveedores] PRIMARY KEY CLUSTERED 
(
	[IdDetalleProveedores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[DetalleProveedores] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 06/11/2023 06:48:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleados] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](200) NOT NULL,
	[Contraseña] [varchar](200) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Foto] [varbinary](max) NULL,
	[Estado] [bit] NOT NULL,
	[Puesto] [int] NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[IdEmpleados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Empleados] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 06/11/2023 06:48:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[IdMetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[Descripción] [varchar](100) NOT NULL,
 CONSTRAINT [PK_MetodoPago] PRIMARY KEY CLUSTERED 
(
	[IdMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[MetodoPago] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 06/11/2023 06:48:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProductos] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Precio] [float] NOT NULL,
	[Descuento] [int] NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Marca] [varchar](50) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IdProductos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Productos] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 06/11/2023 06:48:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[IdProveedores] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Dirrecion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[IdProveedores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Proveedores] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([IdEmpleados], [Usuario], [Contraseña], [Nombre], [Foto], [Estado], [Puesto]) VALUES (1, N'Admin', N'Pass', N'Dannyle', NULL, 1, 3)
INSERT [dbo].[Empleados] ([IdEmpleados], [Usuario], [Contraseña], [Nombre], [Foto], [Estado], [Puesto]) VALUES (2, N'Jefe', N'jefe', N'Oscar', NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
ALTER TABLE [dbo].[ColorMezclas]  WITH CHECK ADD  CONSTRAINT [FK_ColorMezclas_ColoresCMYKW] FOREIGN KEY([IdcolorC])
REFERENCES [dbo].[ColoresCMYKW] ([Idcolor])
GO
ALTER TABLE [dbo].[ColorMezclas] CHECK CONSTRAINT [FK_ColorMezclas_ColoresCMYKW]
GO
ALTER TABLE [dbo].[ColorMezclas]  WITH CHECK ADD  CONSTRAINT [FK_ColorMezclas_ColoresCMYKW1] FOREIGN KEY([IdcolorM])
REFERENCES [dbo].[ColoresCMYKW] ([Idcolor])
GO
ALTER TABLE [dbo].[ColorMezclas] CHECK CONSTRAINT [FK_ColorMezclas_ColoresCMYKW1]
GO
ALTER TABLE [dbo].[ColorMezclas]  WITH CHECK ADD  CONSTRAINT [FK_ColorMezclas_ColoresCMYKW2] FOREIGN KEY([IdcolorY])
REFERENCES [dbo].[ColoresCMYKW] ([Idcolor])
GO
ALTER TABLE [dbo].[ColorMezclas] CHECK CONSTRAINT [FK_ColorMezclas_ColoresCMYKW2]
GO
ALTER TABLE [dbo].[ColorMezclas]  WITH CHECK ADD  CONSTRAINT [FK_ColorMezclas_ColoresCMYKW3] FOREIGN KEY([IdcolorK])
REFERENCES [dbo].[ColoresCMYKW] ([Idcolor])
GO
ALTER TABLE [dbo].[ColorMezclas] CHECK CONSTRAINT [FK_ColorMezclas_ColoresCMYKW3]
GO
ALTER TABLE [dbo].[ColorMezclas]  WITH CHECK ADD  CONSTRAINT [FK_ColorMezclas_ColoresCMYKW4] FOREIGN KEY([IdcolorB])
REFERENCES [dbo].[ColoresCMYKW] ([Idcolor])
GO
ALTER TABLE [dbo].[ColorMezclas] CHECK CONSTRAINT [FK_ColorMezclas_ColoresCMYKW4]
GO
ALTER TABLE [dbo].[ColorMezclas]  WITH CHECK ADD  CONSTRAINT [FK_ColorMezclas_Productos] FOREIGN KEY([IdProductos])
REFERENCES [dbo].[Productos] ([IdProductos])
GO
ALTER TABLE [dbo].[ColorMezclas] CHECK CONSTRAINT [FK_ColorMezclas_Productos]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Clientes] FOREIGN KEY([IdClientes])
REFERENCES [dbo].[Clientes] ([IdClientes])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Clientes]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Empleados] FOREIGN KEY([IdEmpleados])
REFERENCES [dbo].[Empleados] ([IdEmpleados])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Empleados]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_MetodoPago] FOREIGN KEY([IdMetodoPago])
REFERENCES [dbo].[MetodoPago] ([IdMetodoPago])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_MetodoPago]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Compras] FOREIGN KEY([IdCompras])
REFERENCES [dbo].[Compras] ([IdCompras])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Compras]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Productos] FOREIGN KEY([IdProductos])
REFERENCES [dbo].[Productos] ([IdProductos])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Productos]
GO
ALTER TABLE [dbo].[DetalleProveedores]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProveedores_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProductos])
GO
ALTER TABLE [dbo].[DetalleProveedores] CHECK CONSTRAINT [FK_DetalleProveedores_Productos]
GO
ALTER TABLE [dbo].[DetalleProveedores]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProveedores_Proveedores] FOREIGN KEY([IdProveedores])
REFERENCES [dbo].[Proveedores] ([IdProveedores])
GO
ALTER TABLE [dbo].[DetalleProveedores] CHECK CONSTRAINT [FK_DetalleProveedores_Proveedores]
GO
USE [master]
GO
